.menuIcon{
    cursor: pointer;
    z-index: 2;
    transform: rotateZ(0deg);
    transition: all 0.5s ease;
    filter: invert(1);
}

#menu:checked ~ label > .menuIcon{
    transform: rotateZ(90deg);
}

#menu{
    display: none;
}

#menu:checked ~ .menu{
    transform: translateX(0%);
}

body:has(#menu:checked) {
    overflow-y: hidden;
}

#menu:checked {
    opacity: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 2;
}

.menu nav{
    z-index: 2;
}

.menu nav a{
    font-size: 1.25rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
}

.menu nav a:hover{
    color: #505050;
}

.menu .linkContainer{
    width: 100%;
    border-bottom: 1px solid white;
    padding: 1rem;
    padding-left: 1.50rem
}

