#nav-contact {
    position: relative;
    background: linear-gradient(to left, #5658cb 0%, #a055e5 100%);
    box-shadow: #422da9 3px 3px 5px 0px;
}

#nav-contact:hover {
    background: linear-gradient(to left, #686aeb 0%, #b96eff 100%);
}

#nav-contact:active {
    left: 3px;
    top: 3px;
    box-shadow: none;
}
