@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
    --purple-1: #444565;
    --blue-1: #131421;
    --blue-2: #4e4f6b;
    --blue-3: #2b2d42;
    --blue-4: #9ebdef;
    --gray-1: #d9d9d9;
}